@model OA_Service.ViewModels.CommentViewModel


@{
    ViewData["Title"] = "AddComment";
    
}

<h1 style="margin-left:40%">Comments</h1>
<hr />


@*<div class="row" style="margin-left:20% ; width:100%">*@
<div style="margin:0 20% 0 20% ;">

    <form asp-action="AddComment" asp-controller="Comment">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Body" class="control-label"></label>
            <textarea name="Body" id="Body" class="form-control" style="width:100%" required></textarea>
            <span asp-validation-for="Body" class="text-danger"></span>
        </div>
        <input type="hidden" name="Journey_Id" id="Journey_Id" value="@ViewBag.journyId" />

        <div class="form-group">
            <input type="submit" value="Post" class="btn btn-primary" />
        </div>
    </form>
</div>


@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@
<div style="margin: 0 20% 0 20%; border: 2px solid blue">
    <h3 style="text-align:center"><b>@ViewBag.commentNumber </b> comments</h3>

    @foreach (var item in ViewBag.comments)
    {
        <partial name="_CommentsPartial" model="item" />

    }
</div>

@section Scripts{


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function showDiv(btn) {
            if (document.getElementById('comment-' + btn.id).style.display !== "none") {
                document.getElementById('comment-' + btn.id).style.display = "none";
            } else {
                document.getElementById('comment-' + btn.id).style.display = "block";
            }
        };
    </script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
