@model OA_Service.ViewModels.CarViewModel

@{
    ViewData["Title"] = "AddCar";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form enctype="multipart/form-data" asp-action="AddCar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@
                <h1 style="text-align:center">AddCar</h1>
                <hr />
                <div class="form-group">
                    <label asp-for="Car_Number" class="control-label">Car number</label>
                    <input asp-for="Car_Number" required class="form-control" />
                    <span asp-validation-for="Car_Number" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Car_Model" class="control-label">Car model</label>
                    <input asp-for="Car_Model" required class="form-control" />
                    <span asp-validation-for="Car_Model" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-5">
                        <label asp-for="Car_Photo" class="control-label">Car Photo</label>
                        <div class="form-group imageContainer">
                            <div>
                                <img src="~/img/default.jpg" id="SSN_Photo" />
                            </div>
                            <input type="file" asp-for="PhotoFormFile" class="form-control" onchange="UploadImageOne(this)" />
                            <span asp-validation-for="Car_Photo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-5">
                        <label asp-for="Licence_Photo" class="control-label">Licence Photo</label>
                        <div class="form-group imageContainer" id="licenceContainer">
                            <div>
                                <img src="~/img/default.jpg" id="LicencePhoto" />
                            </div>
                            <input type="file" asp-for="LicenceFormFile" class="form-control" onchange="UploadImagetwo(this)" />
                            <span asp-validation-for="Licence_Photo" class="text-danger"></span>
                        </div>



                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" style="width:100%" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        function UploadImageOne(fileInput) {
            var fileToUpload = fileInput.files.item(0)

            var filereader = new FileReader();
            filereader.onload = (event) => {
                document.getElementById("SSN_Photo").src = event.target.result;

            }
            filereader.readAsDataURL(fileToUpload)
        }
        function UploadImagetwo(fileInput) {
            var fileToUpload = fileInput.files.item(0)

            var filereader = new FileReader();
            filereader.onload = (event) => {
                document.getElementById("LicencePhoto").src = event.target.result;

            }
            filereader.readAsDataURL(fileToUpload)
        }


    </script>
}