@{ 
    ViewData["Title"] = "About";
}
<div class="container-fluid p-0 position-relative" style="max-height:400px; overflow:hidden">
    <img src="~/site/img/About.jpg" class="w-100" />
    <h1 class="main-heading d-inline-block text-uppercase pb-3 border-bottom position-absolute" style="left: 30px; bottom: 20px; color: white;">&lt; About Us &gt;</h1>
</div>

<div class="container" style="margin-top: 10px; font-size: 26px;">
    <div class="row">
        <div class="col font-weight-bold">
            <p style="text-transform:capitalize">Help Others, Contribute To Solve Traffic Problem And Save Money</p>

        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <h2>KNOW OUR IDEA</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            This site helps people find a means of transportation without relying entirely on their personal car
            Reducing the number of cars on the roads, which contributes to solving the problem of 
            congestion, saving money and making the most of the car
        </div>
    </div>
</div>

